@font-face {
    font-family: PoiretOne;
    src: url('/Assets/Fonts/PoiretOne-Regular.ttf');
}


.MainButton[b-rpe8thos8b]{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 28px;
    margin: 10px;
    transition: 1s;
}

.MainButton:hover[b-rpe8thos8b]{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.header_desktop[b-rpe8thos8b]{
    position: static;
    width: 100%;
}

.header_desktop_upper[b-rpe8thos8b] {
    background-color: transparent;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

a[b-rpe8thos8b] {
    text-decoration: none;
    color: white;
}

.header_desktop_bar_left .social_links a[b-rpe8thos8b] {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 5px 11px;
}

.header_desktop .icon[b-rpe8thos8b] {
    height: 18px;
    width: 18px;
}

.header_desktop_bar_left .social_links[b-rpe8thos8b] {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -11px;
    vertical-align: initial;
}

.header_desktop_bar_left .social_links li[b-rpe8thos8b] {
    padding: 0;
    margin: 0 0 0.25em;
    }

    .header_desktop_bar_left .social_links svg[b-rpe8thos8b] {
        fill: white;
    }

.header_desktop_bar_center[b-rpe8thos8b] {
    flex-grow: 0;
    display: flex;
    align-self: stretch;
}

.header_logo_link[b-rpe8thos8b] {
    margin: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo_link_image[b-rpe8thos8b] {
    display: block;
    text-decoration: none;
    position: relative;
    max-width: 50vw;
}

    .header_logo_link_image img[b-rpe8thos8b] {
        opacity: 1;
        left: 0;
        display: block;
        object-fit: contain;
        height: 113px;
    }

.wrapper .carousel[b-rpe8thos8b] {
    white-space: nowrap;
    max-width: 1200px;
    cursor: pointer;
}

.carousel img[b-rpe8thos8b] {
    height: 100%!important;
    object-fit : cover;
    width: calc(100%/3);
    margin: 30px;
}

    .carousel img:hover[b-rpe8thos8b] {
        width: calc(100%/2.5);
    }

.wrapper[b-rpe8thos8b] {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: white;
    min-height: 50vh;
    margin-left: 4px;
}

    .wrapper i[b-rpe8thos8b] {
        height: 46px;
        width: 46px;
        text-align: center;
        line-height: 46px;
        background: #fff;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
        transform: translateY(-50%);
        margin: 10px;
    }


