.MainButton{
    background-color: transparent;
    font-family: inherit;
    border: 1px solid white;
    color: white;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 28px;
    margin: 10px;
    transition: 1s;
}

.MainButton:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.header_desktop{
    position: static;
    width: 100%;
}

.header_desktop_upper{
    background-color: purple;
    padding: 10px;
}

