@page "/"

<PageTitle>LumiBear</PageTitle>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<body onscroll="DoOnScroll()">
    <script>
        function DoOnScroll() {
            if (window.scrollY === 0) {
                document.getElementById("upper").style.backgroundColor = "transparent";
                document.getElementById("lower").style.backgroundColor = "transparent";
                document.getElementById("upper").style.transition = "all 0.25s";
                document.getElementById("lower").style.transition = "all 0.25s";
                document.getElementById("header").style.position = "static";
            } else {
                document.getElementById("header").style.position = "fixed";
                document.getElementById("upper").style.backgroundColor = "black";
                document.getElementById("lower").style.backgroundColor = "black";
                document.getElementById("header").style.zIndex = 999;
                document.getElementById("upper").style.zIndex = 999;
                document.getElementById("lower").style.zIndex = 999;
                document.getElementById("upper").style.transition = "all 0.25s";
                document.getElementById("lower").style.transition = "all 0.25s";
            }
        }
    </script>
    <div style="background: url('Assets/MainPage/MainDivBg.jpg'); height: 130%!important; bottom: 0!important; background-position: center; background-repeat: no-repeat; background-size: cover">
        <NavBar></NavBar>
        <div style="padding: 0; min-height: 90vh">
            <img src="Assets/MainPage/mainLogo.gif" style="width: 50%; margin-left: 27%">
            <div style="">
                <button class="MainButton" type="submit" style="display: inline-block; margin: 0 auto; left: 45%; position: relative; margin: 10px; font-family: PoiretOne;">Kolekcja Świec</button>
                <button class="MainButton" type="submit" style="display: inline-block; margin: 0 auto; left: 45%; position: relative; font-family: PoiretOne;">Kolekcja Home</button>
            </div>
        </div>
    </div>


    <section>
        <div style="background-color: white;">
            <center><a style="font-family: PoiretOne; font-size: 2.5em; margin: 20px">Miś Poleca</a></center>
        </div>
        <div class="wrapper">
            <i class="fa-solid fa-angle-left" @onclick="MoveSlideshowRight"></i>
            <div class="carousel">
                <img src="@($"Assets/Candles/candle{ImageIndex1}.jpg")" />
                <img src="@($"Assets/Candles/candle{ImageIndex2}.jpg")" />
                <img src="@($"Assets/Candles/candle{ImageIndex3}.jpg")" />
            </div>
            <i class="fa-solid fa-angle-right" style="margin-left: 200px" @onclick="MoveSlideshowLeft"></i>
        </div>
    </section>


    <section>
        <div style="background: url('Assets/MainPage/homeDivBg.webp'); height: 130%!important; bottom: 0!important; background-position: center; background-repeat: no-repeat; background-size: cover">
            <div style="padding: 0; min-height: 90vh;">
                <img src="Assets/MainPage/home.gif" style="width: 50%; margin-left: 27%"/>
                <div>
                    <a style="display: inline-block; margin: 0 auto; left: 46%; position: relative; margin: 12px; font-family: PoiretOne; font-size: 26px; color: white">Premiera wkrótce</a>
                </div>
            </div>
        </div>
    </section>
</body>


@code{
    private int ImageIndex1;
    private int ImageIndex2;
    private int ImageIndex3;


    protected override void OnInitialized()
    {
        ImageIndex1 = 1;
        ImageIndex2 = 2;
        ImageIndex3 = 3;
    }

    private void MoveSlideshowRight()
    {
        int MaximumImageIndex = 9;
        if(ImageIndex3 != MaximumImageIndex)
        {
            ImageIndex1 += 3;
            ImageIndex2 += 3;
            ImageIndex3 += 3;
        }else
        {
            ImageIndex1 = 1;
            ImageIndex2 = 2;
            ImageIndex3 = 3;
        }
    }

    private void MoveSlideshowLeft()
    {
        int MinimumImageIndex = 1;
        if (ImageIndex1 != MinimumImageIndex)
        {
            ImageIndex1 -= 3;
            ImageIndex2 -= 3;
            ImageIndex3 -= 3;
        }else
        {
            ImageIndex1 = 7;
            ImageIndex2 = 8;
            ImageIndex3 = 9;
        }
    }

    private void ChangeNavBarColor()
    {

    }
}
