@page "/"

<PageTitle>LumiBear</PageTitle>

<body>
    <div data-header-desktop class="header_desktop">
        <div class="header_desktop_upper">

        </div>


    </div>
    <div style="background-color: black; height: 130%!important; bottom: 0!important">
        <div style="padding: 15%">
            <img src="Assets/MainPage/mainLogo.gif" style="margin-right: auto; margin-left: auto; width: 50%; display: block;">
            <div style="padding: 15px">
                <button class="MainButton" type="submit" style="display: inline-block; margin: 0 auto; left: 35%; position: relative">EXPLORE CANDLES</button>
                <button class="MainButton" type="submit" style="display: inline-block; margin: 0 auto; left: 35%; position: relative">EXPLORE HOME</button>
            </div>
        </div>
    </div>
    <div style="background-color: white; height: 100%">

    </div>
</body>