.header_desktop {
    position: static;
    width: 100%;
}

.header_desktop_upper {
    background-color: transparent;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

    .header_desktop_upper.scroll {
        background-color: black;
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }

a {
    text-decoration: none;
    color: white;
}

.header_desktop_bar_left .social_links a {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 5px 11px;
}

.header_desktop .icon {
    height: 18px;
    width: 18px;
}

.header_desktop_bar_left .social_links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -11px;
    vertical-align: initial;
}

    .header_desktop_bar_left .social_links li {
        padding: 0;
        margin: 0 0 0.25em;
    }

    .header_desktop_bar_left .social_links svg {
        fill: white;
    }

.header_desktop_bar_center {
    flex-grow: 0;
    display: flex;
    align-self: stretch;
}

.header_logo_link {
    margin: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo_link_image {
    display: block;
    text-decoration: none;
    position: relative;
    max-width: 50vw;
}

    .header_logo_link_image img {
        opacity: 1;
        left: 0;
        display: block;
        object-fit: contain;
        height: 113px;
    }
