/* /Pages/Index.razor.rz.scp.css */
@font-face {
    font-family: PoiretOne;
    src: url('/Assets/Fonts/PoiretOne-Regular.ttf');
}


.MainButton[b-vhrytik8p7]{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 28px;
    margin: 10px;
    transition: 1s;
}

.MainButton:hover[b-vhrytik8p7]{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.header_desktop[b-vhrytik8p7]{
    position: static;
    width: 100%;
}

.header_desktop_upper[b-vhrytik8p7] {
    background-color: transparent;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

a[b-vhrytik8p7] {
    text-decoration: none;
    color: white;
}

.header_desktop_bar_left .social_links a[b-vhrytik8p7] {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 5px 11px;
}

.header_desktop .icon[b-vhrytik8p7] {
    height: 18px;
    width: 18px;
}

.header_desktop_bar_left .social_links[b-vhrytik8p7] {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -11px;
    vertical-align: initial;
}

.header_desktop_bar_left .social_links li[b-vhrytik8p7] {
    padding: 0;
    margin: 0 0 0.25em;
    }

    .header_desktop_bar_left .social_links svg[b-vhrytik8p7] {
        fill: white;
    }

.header_desktop_bar_center[b-vhrytik8p7] {
    flex-grow: 0;
    display: flex;
    align-self: stretch;
}

.header_logo_link[b-vhrytik8p7] {
    margin: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo_link_image[b-vhrytik8p7] {
    display: block;
    text-decoration: none;
    position: relative;
    max-width: 50vw;
}

    .header_logo_link_image img[b-vhrytik8p7] {
        opacity: 1;
        left: 0;
        display: block;
        object-fit: contain;
        height: 113px;
    }

.wrapper .carousel[b-vhrytik8p7] {
    white-space: nowrap;
    max-width: 1200px;
    cursor: pointer;
}

.carousel img[b-vhrytik8p7] {
    height: 100%!important;
    object-fit : cover;
    width: calc(100%/3);
    margin: 30px;
}

.wrapper[b-vhrytik8p7] {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: white;
    min-height: 50vh;
    margin-left: 4px;
}

    .wrapper i[b-vhrytik8p7] {
        height: 46px;
        width: 46px;
        text-align: center;
        line-height: 46px;
        background: #fff;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
        transform: translateY(-50%);
        margin: 10px;
    }



/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-usexojocug] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-usexojocug] {
    flex: 1;
}

.sidebar[b-usexojocug] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-usexojocug] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-usexojocug]  a, .top-row[b-usexojocug]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-usexojocug]  a:hover, .top-row[b-usexojocug]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-usexojocug]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-usexojocug] {
        display: none;
    }

    .top-row.auth[b-usexojocug] {
        justify-content: space-between;
    }

    .top-row[b-usexojocug]  a, .top-row[b-usexojocug]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-usexojocug] {
        flex-direction: row;
    }

    .sidebar[b-usexojocug] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-usexojocug] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-usexojocug]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-usexojocug], article[b-usexojocug] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
