/* /Pages/Common/NavBar.razor.rz.scp.css */
@font-face {
    font-family: PoiretOne;
    src: url('/Assets/Fonts/PoiretOne-Regular.ttf');
}

.header_desktop[b-ee80km7zna] {
    position: static;
    width: 100%;
}

.header_desktop_upper[b-ee80km7zna] {
    background-color: transparent;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

    .header_desktop_upper.scroll[b-ee80km7zna] {
        background-color: black;
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }

a[b-ee80km7zna] {
    text-decoration: none;
    color: white;
}

.header_desktop_bar_left .social_links a[b-ee80km7zna] {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 5px 11px;
}

.header_desktop .icon[b-ee80km7zna] {
    height: 18px;
    width: 18px;
}

.header_desktop_bar_left .social_links[b-ee80km7zna] {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -11px;
    vertical-align: initial;
}

    .header_desktop_bar_left .social_links li[b-ee80km7zna] {
        padding: 0;
        margin: 0 0 0.25em;
    }

    .header_desktop_bar_left .social_links svg[b-ee80km7zna] {
        fill: white;
    }

.header_desktop_bar_center[b-ee80km7zna] {
    flex-grow: 0;
    display: flex;
    align-self: stretch;
}

.header_logo_link[b-ee80km7zna] {
    margin: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo_link_image[b-ee80km7zna] {
    display: block;
    text-decoration: none;
    position: relative;
    max-width: 50vw;
}

    .header_logo_link_image img[b-ee80km7zna] {
        opacity: 1;
        left: 0;
        display: block;
        object-fit: contain;
        height: 113px;
    }

.header_desktop_lower[b-ee80km7zna] {
    border-top: 1px solid hsla(0,0%,100%,0);
}

.header_desktop_bar_c[b-ee80km7zna]{
    display: flex;
    align-self: stretch;
    flex-grow: 0;
}

.header__menu caps[b-ee80km7zna]{
    letter-spacing: 1em;
    z-index: 5;
}

header__menu__inner[b-ee80km7zna]{
    display: flex;
    height: 100%;
}

nav[b-ee80km7zna] {
    margin-left: 40%;
}

button[b-ee80km7zna] {
    background-color: transparent;
    color: white;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 28px;
    transition: 1s;
    font-family: PoiretOne;
}

button:hover[b-ee80km7zna] {
    background-color: white;
    color: black;
}
/* /Pages/Homescreen/Index.razor.rz.scp.css */
@font-face {
    font-family: PoiretOne;
    src: url('/Assets/Fonts/PoiretOne-Regular.ttf');
}


.MainButton[b-n6ysx53t2h]{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 28px;
    margin: 10px;
    transition: 1s;
}

.MainButton:hover[b-n6ysx53t2h]{
    background-color: white;
    border: 1px solid black;
    color: black;
}



.wrapper .carousel[b-n6ysx53t2h] {
    white-space: nowrap;
    max-width: 1200px;
    cursor: pointer;
}

.carousel img[b-n6ysx53t2h] {
    height: 100%!important;
    object-fit : cover;
    width: calc(100%/3);
    margin: 30px;
}

.wrapper[b-n6ysx53t2h] {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: white;
    min-height: 50vh;
    margin-left: 4px;
}

    .wrapper i[b-n6ysx53t2h] {
        height: 46px;
        width: 46px;
        text-align: center;
        line-height: 46px;
        background: #fff;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
        transform: translateY(-50%);
        margin: 10px;
    }



/* /Pages/Homescreen/ScentedCarousel.razor.rz.scp.css */
@font-face {
    font-family: PoiretOne;
    src: url('/Assets/Fonts/PoiretOne-Regular.ttf');
}



.container[b-tnm5kszam1]{
    left: 50%;
    top: 50%;
    transform: translate(0, 0);
    width: 100%;
    min-height: 70vh!important;
    background-color: #f5f5f5;
    max-width: 100%!important;
}

#slide[b-tnm5kszam1]{
    width: max-content;
}

.item[b-tnm5kszam1]{
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(200%, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

.item:nth-child(1)[b-tnm5kszam1],
.item:nth-child(2)[b-tnm5kszam1]{
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3)[b-tnm5kszam1]{
    left: 50%;
}

.item:nth-child(4)[b-tnm5kszam1]{
    left: calc(50% + 220px);
}

.item:nth-child(5)[b-tnm5kszam1]{
    left:calc(50% + 440px);
}

.item:nth-child(n+6)[b-tnm5kszam1]{
    left:calc(50% + 660px);
    opacity: 0;
}

.item .content[b-tnm5kszam1]{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
}

.item:nth-child(2) .content[b-tnm5kszam1]{
    display: block;
    z-index: 11111;
}

.item .name[b-tnm5kszam1]{
    font-family: PoiretOne;
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent-b-tnm5kszam1 1s ease-in-out 1 forwards;
}

.item .des[b-tnm5kszam1]{
    font-family: PoiretOne;
    margin: 20px 0;
    opacity: 0;
    animation: showcontent-b-tnm5kszam1 1s ease-in-out 0.3s 1 forwards;
}

.item button[b-tnm5kszam1]{
    opacity: 0;
    animation: showcontent-b-tnm5kszam1 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showcontent-b-tnm5kszam1{
    from{
        opacity: 1;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
         opacity: 1;
         transform: translate(0,0);
         filter:blur(0);
     }
}

.buttons[b-tnm5kszam1]{
    position: absolute;
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
}

.buttons button[b-tnm5kszam1]{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
}.buttons button:hover[b-tnm5kszam1]{
     background-color: #10100c;

 }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-usexojocug] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-usexojocug] {
    flex: 1;
}

.sidebar[b-usexojocug] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-usexojocug] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-usexojocug]  a, .top-row[b-usexojocug]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-usexojocug]  a:hover, .top-row[b-usexojocug]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-usexojocug]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-usexojocug] {
        display: none;
    }

    .top-row.auth[b-usexojocug] {
        justify-content: space-between;
    }

    .top-row[b-usexojocug]  a, .top-row[b-usexojocug]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-usexojocug] {
        flex-direction: row;
    }

    .sidebar[b-usexojocug] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-usexojocug] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-usexojocug]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-usexojocug], article[b-usexojocug] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
